# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-results
playwright-report
playwright/.cache

# Next.js
.next
out
build

# Production
dist

# Misc
.DS_Store
*.pem
*.log

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# CI
.github

# Documentation
*.md
!README.md
